* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  #logo-desktop {
    display: none;
  }
  nav {
    display: none;
  }
  #header1 {
    gap: 1em;
    display: flex;
    align-items: center;
  }

  #logo {
    height: 40px;
    width: auto;
    cursor: pointer;
  }

  #hamburger {
    height: 30px;
    width: auto;
    cursor: pointer;
  }

  #login {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      color: #6861f3;
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
    }
    button {
      margin-left: 1.5em;
      background-color: #6861f3;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 10px 20px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #392ff3;
    }

    a {
      text-decoration: none;
    }
  }
}
#pricing-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  #popular {
    background-color: #d7f9d2;
    #sticker {
        background-color: #6861f3;
        color: white;
        border-radius: 14px;
        width: 40%;
        height: 30px;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    button {
            background-color: #6861f3;
            color: white;
        }
  }
  .cont-pricing {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
    background-color: white;
    padding: 1em 3em;
    h1 {
        font-size: 42px;
    }
    .simbolo {
        font-size: 22px;
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    ul {
      display: flex;
      flex-direction: column;
      list-style-image: url(../img/check-lista.png) ;
      margin-bottom: 1em;
    }
    li {
        margin-top: 1em;
    }
    button {
        background-color: #e1e0ff;
        color: #403d98;
        border: none;
        border-radius: 12px;
        padding: 0.6em;
        margin: 1em 0;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 1em;
  }
  li {
    margin-right: 2em;
  }
}

@media (min-width: 768px) {
  header {
    #hamburger {
      display: none;
    }
    #logo {
      display: none;
    }
    #logo-desktop {
      display: block;
      width: 100px;
      margin-left: 3em;
    }
    #login {
      margin-right: 3em;
    }
    nav {
      display: block;
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
    }
    li {
      margin-right: 1em;
    }
    a {
      color: #037736;
      text-decoration: none;
    }
  }

  #pricing-container{
    padding-top: 1em;
    flex-wrap: wrap;
    justify-content: center;
    hr {
      display: none;
    }
    .cont-pricing {
      width: 25%;
      h2 {
        padding-top: 2em;
        padding-left: 0%;
        padding-right: 0%;
      }
    }
    #popular {
      padding-top: 0%;
      h2 {
        padding-top: 0.2em;
      }
      #sticker {
        width: 80%;
      }
    }
  }
}